WALLOY   0.18130e+02   5
                              fe 0.73000e+00  26
                              co 0.10000e+00  27
                              ni 0.14400e+01  28
                              cu 0.55000e+00  29
                              w  0.97180e+02  74